node_modules
npm-debug.log
kaggleTrainingData.csv
formattingData*.txt
formattedData*.txt
bestNet*.txt
kagglePredictions*.txt
*.csv
*.p
*.pkl
randomForest/bestRF/*
*.zip
*.npy
*.pyc
predictions/*
*.xls
*.xlsx
data/*
*.npz
*.txt
src/*
.npmignore
pySetup/testingFileNames
